.App {
  padding: 20px;
  text-align: left;
}

.won-card{
  background-color: olivedrab;
}
.won-card a{
  color: yellow;
}
.lost-card{
  background-color: indianred;
  // background-color: orangered;
}

.lost-card a{
  // color: wheat;
  color: cyan;
}
